#header
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        h1.brand
          a(href="/") Super awesome chat 2000
          small ...or something...whatever
        .nav.pull-right
          ul.nav
            if !user
              li
                a(href="/register") Register
              li
                a(href="/login") Login
            else
              li
                a(href="/chat") Chat
              li
                a(href="/account") Me
              li
                a(href="/logout") Logout
