extend layout

block content
  .jumbotron.masthead
    .container
      h1= title
      p Blah blah blah, what chatting is all about.
      p ...or me just testing rethinkdb, socket.io, express, passport and bcrypt

      a(href="chat").btn.btn-info
        i.icon-comments-alt
        |  Test it
      p
      a(href="https://github.com/davidbejar/rethinkdb-example-nodejs-chat").btn.btn-info
        i.icon-github
        |  github repo
      span(style='padding:0 5px')
