extend layout

block content
  .jumbotron.masthead
    .container
      h1= title
      p Blah blah blah, what chatting is all about.
      p ...or me just testing rethinkdb, socket.io, express, passport and bcrypt

      a(href="chat").btn.btn-info
        i.icon-comments-alt
        |  Test it
      p
      a(href="http://twitter.com/orkj").btn.btn-danger
        i.icon-twitter
        |  by @orkj
      a(href="https://github.com/eiriksm/chat-test-2k").btn.btn-danger
        i.icon-github
        |  github repo


