extend layout

block content
  .jumbotron.masthead
    .container
      h1= title
      p Blah blah blah, what chatting is all about.
      p ...or me just testing rethinkdb, socket.io, express, passport and bcrypt

      a(href="chat").btn.btn-info
        i.icon-comments-alt
        |  Test it
      p
      a(href="https://github.com/rethinkdb/rethinkdb-example-nodejs-chat").btn.btn-danger
        i.icon-github
        |  github repo
      span(style='padding:0 5px')
        | by
      a(href="http://twitter.com/orkj").btn.btn-danger
        i.icon-twitter
        |  @orkj
      span(style='padding:0 5px')
        &amp;
      a(href="http://twitter.com/al3xandru").btn.btn-danger
        i.icon-twitter
        |  @al3xandru
